html, body, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Barlow', sans-serif;
}

:root{
	--color-soft-red: hsl(7, 99%, 70%);
	--color-yellow: hsl(51, 100%, 49%);
	--color-desaturated-cyan: hsl(167, 40%, 24%);
	--color-dark-blue: hsl(198, 62%, 26%);
	--color-moderate-cyan: hsl(168, 34%, 41%);
	--color-footer-bg: hsl(167, 44%, 70%);
	--color-desaturated-blue: hsl(212, 27%, 19%);
	--color-very-dark-grayish-blue: hsl(213, 9%, 39%);
	--color-dark-grayish-blue: hsl(232, 10%, 55%);
	--color-grayish-blue: hsl(210, 4%, 67%);
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
	--font-primary: 'Fraunces', serif;
}

::-webkit-scrollbar {
    display: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, auto);
}

.container img {
	width: 100%;
	height: auto;
	display: block;
}

.header {
	position: absolute;
	top: 0px;
	z-index: 1;
	padding: 30px 50px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header .logo {
	cursor: pointer;
}

.header .logo:hover path {
	fill: var(--color-yellow);
}

.header .burger {
	display: none;
}

.header .menus a {
	color: var(--color-white);
	text-decoration: none;
	font-size: 14px;
}

.header .menus a:not(:last-of-type) {
	margin-right: 30px;
}

.header .menus a:not(:last-of-type):hover {
	color: var(--color-yellow);
}

.header .menus .contact {
	padding: 15px 20px;
	border-radius: 30px;
	background-color: var(--color-white);
	color: var(--color-black);
	text-transform: uppercase;
	font-family: var(--font-primary);
}

.header .menus .contact:hover {
	color: var(--color-white);
	background-color: rgba(255, 255, 255, .3);
}

.block {
	position: relative;
}

.block_1 {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.block_2-1 {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.block_2-2 {
	grid-column: 3 / 5;
	grid-row: 2 / 3;
}

.block_3-1 {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
}

.block_3-2 {
	grid-column: 3 / 5;
	grid-row: 3 / 4;
}

.block_4-1 {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
}

.block_4-2 {
	grid-column: 3 / 5;
	grid-row: 4 / 5;
}

.block_5 {
	grid-column: 1 / 5;
	grid-row: 5 / 6;
	place-self: center;
	height: 100%;
	padding: 50px 0;
	display: flex;
	align-items: center;
}

.block_6-1 {
	grid-column: 1 / 2;
	grid-row: 6 / 7;
}

.block_6-2 {
	grid-column: 2 / 3;
	grid-row: 6 / 7;
}

.block_6-3 {
	grid-column: 3 / 4;
	grid-row: 6 / 7;
}

.block_6-4 {
	grid-column: 4 / 5;
	grid-row: 6 / 7;
}

.main {
	position: absolute;
	transform: translateX(-50%);
	top: 30%;
	left: 50%;
	text-align: center;
}

.main .title {
	color: var(--color-white);
	text-transform: uppercase;
	letter-spacing: 8px;
	font-family: var(--font-primary);
	font-weight: 900;
	font-size: 34px;
	margin-bottom: 50px;
}

.main .arrow {
	cursor: pointer;
	transform: translateY(-10px);
	animation-name: bumping;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

.main .arrow:hover g {
	stroke:hsl(7, 99%, 70%);
}

@keyframes bumping {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

.text-block {
	place-self: center;
	padding: 100px;
}

.text-block .title {
	font-size: 30px;
}

.text-block .desc {
	color: var(--color-dark-grayish-blue);
	margin: 30px auto;
}

.content {
	position: absolute;
	bottom: 50px;
	text-align: center;
	margin: auto 150px;
	display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px 100px;
}

.content .title {
	font-size: 26px;
	color: var(--color-dark-blue);
}

.content .desc {
	font-size: 16px;
	color: var(--color-dark-blue);
	margin-top: 30px;
}

.title {
	font-family: var(--font-primary);
	font-weight: 900;
}

.desc {
	font-weight: 600;
	line-height: 1.5em;
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-black);
	font-family: var(--font-primary);
	font-weight: 700;
	padding: 0 5px;
}

.btn-yellow {
	box-shadow: inset 0em -0.5em rgba(250, 212, 0, .3);
}

.btn-yellow:hover,
.btn-yellow:active {
	box-shadow: inset 0em -0.5em rgba(250, 212, 0, 1);
}

.btn-red {
	box-shadow: inset 0em -0.5em rgba(254, 120, 103, .3);
}

.btn-red:hover,
.btn-red:active {
	box-shadow: inset 0em -0.5em rgba(254, 120, 103, 1);
}

.client-title {
	text-transform: uppercase;
	color: var(--color-grayish-blue);
	text-align: center;
	margin-bottom: 50px;
	font-family: var(--font-primary);
	letter-spacing: 3px;
}

.client-container {
	display: flex;
	flex-wrap: wrap;
	width: 80vw;
    justify-content: space-evenly;
}

.client-card {
	width: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.client-card .pic-cover {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.client-card .desc {
	flex-grow: 1;
	color: var(--color-very-dark-grayish-blue);
}

.client-card .name-block .name {
	font-family: var(--font-primary);
	font-weight: 900;
	color: var(--color-black);
}

.client-card .name-block .job {
	color: var(--color-grayish-blue);
	font-size: 12px;
}

.footer {
	grid-column: 1 / 5;
	grid-row: 7 / 8;
	background-color: var(--color-footer-bg);
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

.footer .footer-img path {
	fill: var(--color-desaturated-cyan);
}

.footer .options {
	display: flex;
	gap: 30px;
	font-weight: 700;
	margin-bottom: 30px;
}

.footer .options a {
	color: var(--color-desaturated-cyan);
	text-decoration: none;
}

.footer .options a:hover,
.footer .options a:active {
	color: var(--color-white);
}

.footer .social-media {
	display: flex;
	gap: 15px;
}

.footer .media-logo {
	width: 20px;
	cursor: pointer;
}

.footer .media-logo:hover path,
.footer .media-logo:active path {
	fill: var(--color-white);
}

.attribution {
	position: absolute;
	bottom: 5px;
	font-size: 11px;
	text-align: center;
	z-index: 1;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}
.back-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: transparent;
	border: 3px solid var(--color-very-dark-grayish-blue);
	border-radius: 50%;
	transition: 200ms;
}

.back-to-top:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	width: 55px;
	height: 55px;
}

.back-to-top:focus {
	outline: none;
}

.back-to-top svg {
	fill: var(--color-very-dark-grayish-blue);
	width: 30px;
	height: 30px;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

.back-to-top:hover svg {
	animation: bounce 2s infinite linear;
}

@keyframes bounce {
	0% {transform: translateX(-50%) translateY(-50%)}
	25% {transform: translateX(-50%) translateY(-65%)}
	50% {transform: translateX(-50%) translateY(-50%)}
	75% {transform: translateX(-50%) translateY(-35%)}
	100% {transform: translateX(-50%) translateY(-50%)}
}

@media screen and (max-width: 760px){
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(11, auto);
	}
	.block_1 {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	
	.block_2-1 {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}
	
	.block_2-2 {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	
	.block_3-1 {
		grid-column: 1 / 3;
		grid-row: 4 / 5;
	}
	
	.block_3-2 {
		grid-column: 1 / 3;
		grid-row: 5 / 6;
	}
	
	.block_4-1 {
		grid-column: 1 / 3;
		grid-row: 6 / 7;
	}
	
	.block_4-2 {
		grid-column: 1 / 3;
		grid-row: 7 / 8;
	}
	
	.block_5 {
		grid-column: 1 / 3;
		grid-row: 8 / 9;
	}
	
	.block_6-1 {
		grid-column: 1 / 2;
		grid-row: 9 / 10;
	}
	
	.block_6-2 {
		grid-column: 2 / 3;
		grid-row: 9 / 10;
	}
	
	.block_6-3 {
		grid-column: 1 / 2;
		grid-row: 10 / 11;
	}
	
	.block_6-4 {
		grid-column: 2 / 3;
		grid-row: 10 / 11;
	}
	.footer {
		grid-column: 1 / 3;
		grid-row: 11 / 12;
	}
	.header {
		padding: 30px 25px;
	}
	.header .burger {
		display: block;
	}
	.header .menus {
		display: none;
		background-color: var(--color-white);
		box-shadow: 3px 3px 10px var(--color-grayish-blue);
		border-radius: 3px;
		position: absolute;
		transform: translateX(-50%);
		top: 100px;
		left: 50%;
		width: 90vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding: 20px;
	}
	.header .menus.open {
		display: flex;
	}
	.header .menus:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 25px solid var(--color-white);
		border-left: 25px solid transparent;
		top: -23px;
		right: 0px;
	}
	.header .menus a {
		color: var(--color-dark-grayish-blue);
	}
	.header .menus a:not(:last-of-type) {
		margin-right: 0;
	}
	.header .menus .contact {
		background-color: var(--color-yellow);
	}
	.text-block {
		padding: 50px;
		text-align: center;
	}
	.content {
		bottom: 100px;
		margin: auto 50px;
		grid-template-rows: 30px 150px;
	}
	.client-container {
		width: 100vw;
		gap: 50px;
	}
}

@media screen and (max-width: 1080px) {
	.text-block {
		padding: 20px;
	}
	.content {
		bottom: 20px;
		margin: auto 20px;
	}
}